@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body{
    background: linear-gradient(to right, #e3ffe7, #d9e7ff);
    min-height: 100vh; 
    font-family: "Poppins", serif;
}

b{
    color: blue;
}





.navbar{
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    
    position:fixed;
    top:0; 
    width:100%;

    padding: 10px 30px; 

    display:flex; 
    justify-content: space-between;
    align-items: center;

    margin-left: 39px;
    align-items:center; 
    z-index:1000;
}

.navbar_main a{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-decoration: none
}

.navbar_main img{
    position: fixed;
    left: 0;

    height: 47px;
    width: auto;
}

.navbar_content{
    display: flex;
    justify-content:center;
    text-align: ;
    margin:1px 20px;
    gap: 20px;   
}

.navbar_content a{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}



.calculator_container{
    background-color: rgba(255, 255, 255, 0.4);
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 10px;
    margin: auto;
    max-width: 400px; /*display better in a mobile app*/

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.calculator_container_input{
    font-size: 17px;

    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
    
    padding: 2px;
}


.calculator_container_submit{
    background-color: lightgreen;

    display: block;
    margin: auto;

    margin-bottom: 12px;
    padding: 10px 40px;
    border-style:inset;
    border-radius:5px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*perfect centering ,even spacing, blur radius*/

    font-size: 17px;

    cursor: pointer;

    transition: all 300ms ease;
}
.calculator_container_submit:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    
    transition: all 300ms ease;
    
    background-color: green;
    color: white;
}

.calculator_container_result { text-align:center; padding:8px; border-radius:4px; }



#bmiChart { width: 100% !important; max-width: 100%; }